@media screen and (orientation: portrait) {
body{
    background-image: url("../images/background_headers/Final/ProjectPage_Portrait.svg");
    background-position: top center;

    background-size: 105vw auto;
    background-repeat:no-repeat;
   
    background-color: #FCF8DA;
    margin: 0;
    font-family: Verdana, sans-serif;
    /*background-color: rgb(227, 164, 19);*/
   
}


.project{
    line-height: 5vw;
    margin-left: 10vw;
    margin-right: 10vw;
    
    margin-top: 40vw;
 

}

.project_title{
    font-size: 5.3vw;
    margin: 0;
    padding-bottom: 1vw;
}

.project_date{
        color:#611800;
        font-size: 3.2vw;
        margin:0;
}
.project_languages{
    color:#611800;
    font-size: 3.2vw;
    margin: 0;
    padding-bottom: 10vw;
}

.project_description{
    font-size: 3vw;
    
    margin: 0;
    
}

.caption{
    font-size:3vw;
    display:inline-block;
    margin:0;
    width:100%;
    text-align: center;
    color:#611800;
}

img{
    display:block;
    text-align:center;
    place-self: center;
    width: 50vw;
    padding-top:10px;
}

.imgGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.imgCaptionPair{
    width:50vw;
}
.back{
    font-size: 3vw;
    display: inline-block;
    width:100%;
    text-align: right;
    color:#c6080b;
    text-decoration:underline;
    margin-bottom: 20px;
}

.large{
    width: calc(min(100vh, 60vw))
}

a{
        color:#c6080b;
}


}

@media screen and (orientation: landscape) {
body{
    background-image: url("../images/background_headers/Final/ProjectPage_Landscape_Left.svg");
    background-position: top left;

    @media screen and (max-height: 70.098dvw) {
         background-image: url("../images/background_headers/Final/ProjectPage_Landscape_Left.svg"),url("../images/background_headers/Final/ProjectPage_Landscape_Right.svg");

         background-position: top left, top right;
    }
    background-size: 15vw auto;
    background-repeat:repeat-y;
   
    background-color: #FCF8DA;
    margin: 0;
    font-family: Verdana, sans-serif;
    /*background-color: rgb(227, 164, 19);*/
   
}


.project{
    line-height: 5vh;
    margin-left: 20vw;
    margin-right: 5vw;
    @media screen and (max-height: 70.098dvw) {
    margin-right: 20vw;
    }
    margin-top: 10vh;
 

}

.project_title{
    font-size: 4.5vh;
    margin: 0;
    padding-bottom: 1vh;
}

.project_date{
    font-size: 2.5vh;
    margin:0;
    color:#611800;
}
.project_languages{
    font-size: 2.5vh;
    margin: 0;
    padding-bottom: 5vh;
    color:#611800;
}

.project_description{
    font-size: 2.5vh;
    
    margin: 0;
    
}

.caption{
    font-size:2.5vh;
    display:inline-block;
    margin:0;
    width:100%;
    text-align: center;
    color:#611800;
}

img{
    display:block;
    text-align:center;
    place-self: center;
    width: 60vh;
    padding-top:10px;
}

.imgGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.imgCaptionPair{
    width:60vh;
}


.back{
    font-size: 2.5vh;
    display: inline-block;
    width:100%;
    text-align: right;
    color:#c6080b;
    text-decoration:underline;
    margin-bottom: 20px;
}

.large{
    width: calc(min(100vh, 60vw))
}

a{
        color:#c6080b;
}


}
