#Home{
    background-color: #FCF8DA;
}





@media (orientation: portrait) {
body{
    background-image: url("../images/background_headers/Final/ProjectPage_Portrait.svg");
    background-position: top center;

    background-size: auto 30lvw;
    background-repeat:no-repeat;
   
    background-color: #FCF8DA;
    margin: 0;
    font-family: Verdana, sans-serif;
    /*background-color: rgb(227, 164, 19);*/
   
}


#Home{
    
    position:absolute;
    width:5lvw;
    height:5lvw;
    right: 5lvw;
    top: 40lvw;
 
}

.project{
    line-height: 5lvw;
    margin-left: 10lvw;
    margin-right: 10lvw;
    
    margin-top: 40lvw;
 

}

.project_title{
    font-size: 5.3lvw;
    margin: 0;
    padding-bottom: 1lvw;
}

.project_date{
        color:#611800;
        font-size: 3.2lvw;
        margin:0;
}
.project_languages{
    color:#611800;
    font-size: 3.2lvw;
    margin: 0;
    padding-bottom: 10lvw;
}

.project_description{
    font-size: 3lvw;
    
    margin: 0;
    
}

.caption{
    font-size:3lvw;
    display: block;
    margin:0;
    margin-left: calc(50% - 25lvw);
    width:50lvw;
    text-align: center;
    color:#611800;
}

img{
    display:block;
    text-align:center;
    align-self: center;
    
    max-width: 50lvw;
    margin-top:10px;
}

.soloImg{
    display: block;
    margin: auto;
}

.imgGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.imgCaptionPair{
    width:50lvw;
}
.back{
    font-size: 3lvw;
    display: inline-block;
    width:100%;
    text-align: right;
    color:#c6080b;
    text-decoration:underline;
    margin-bottom: 20px;
}

.large{
    max-width: calc(min(100lvh, 60lvw))
}

a{
        color:#c6080b;
}


}

@media (orientation: landscape) {
    
body{
    background-image: url("../images/background_headers/Final/ProjectPage_Landscape_Left.svg");
    background-position: top left;

    @media (aspect-ratio>1.4088) {
         background-image: url("../images/background_headers/Final/ProjectPage_Landscape_Left.svg") , url("../images/background_headers/Final/ProjectPage_Landscape_Right.svg");

         background-position: top left, top right;
    }
    background-size: 20lvh auto;
    background-repeat:repeat-y;
   
    background-color: #FCF8DA;
    margin: 0;
    font-family: Verdana, sans-serif;
    /*background-color: rgb(227, 164, 19);*/
   
}

#Home{
    position:absolute;
    margin-top:0;
    width:5lvh;
    height:5lvh;
    right: 25lvh;
    top: 5lvh;
    @media (aspect-ratio<1.4088) {
        right: 5lvh;
    }
  
}

.project{
    line-height: 5lvh;
    margin-left: 25lvh;
    margin-right: 5vh;
    @media (aspect-ratio > 1.4088) {
    margin-right: 25lvh;
    }
    margin-top: 10lvh;
 

}

.project_title{
    font-size: 4.5lvh;
    margin: 0;
    padding-bottom: 1lvh;
}

.project_date{
    font-size: 2.5lvh;
    margin:0;
    color:#611800;
}
.project_languages{
    font-size: 2.5lvh;
    margin: 0;
    padding-bottom: 5lvh;
    color:#611800;
}

.project_description{
    font-size: 2.5lvh;
    
    margin: 0;
    
}

.caption{
    font-size:2.5lvh;
    display: block;
    margin-left: calc(50% - 30lvh);
    width:60lvh;
    
    text-align: center;
    color:#611800;
}

img{
    display:block;
    text-align:center;
    place-self: center;
    max-width: 60lvh;
    max-height:60lvh;
    margin-top:10px;
}

.soloImg{
    display: block;
    margin: auto;
}

.imgGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.imgCaptionPair{
    width:60lvh;
}


.back{
    font-size: 2.5lvh;
    display: inline-block;
    width:100%;
    text-align: right;
    color:#c6080b;
    text-decoration:underline;
    margin-bottom: 20px;
}

.large{
    max-width: calc(min(100lvh, 60lvw))
}

a{
        color:#c6080b;
}


}
