
@media screen and (orientation: portrait) {
    body {
        /*background-image: url("./images/background_headers/bg_index_draft_3.png");
        */
        background-size: auto 100vw;
        background-repeat:no-repeat;
        background-position: top right;
        background-color: #FCF8DA;
        margin: 0;
        font-family: Verdana, sans-serif;
        /*background-color: rgb(227, 164, 19);*/
        place-items: right;
    }
}
@media screen and (orientation: landscape) {
body{
    background-image: url("../images/background_headers/bg_projectpage_draft2.png"),url("../images/background_headers/bg_projectpage_draft1.png");
    
    background-size: 15vw auto;
    background-repeat:repeat-y;
    background-position: top left, top right;
    background-color: #FCF8DA;
    margin: 0;
    font-family: Verdana, sans-serif;
    /*background-color: rgb(227, 164, 19);*/
   
}


.project{
    line-height: 5vh;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 10vh;
 

}

.project_title{
    font-size: 4.5vh;
    margin: 0;
    padding-bottom: 1vh;
}

.project_date{
    font-size: 2.5vh;
    margin:0;
}
.project_languages{
    font-size: 2.5vh;
    margin: 0;
    padding-bottom: 5vh;
}

.project_description{
    font-size: 2.5vh;
    
    margin: 0;
    
}

.caption{
    font-size:2.5vh;
    display:inline-block;
    margin:0;
    width:100%;
    text-align: center;
}

img{
    display:block;
    text-align:center;
    place-self: center;
    width: 60vh;
    padding-top:10px;
}

.back{
    font-size: 2.5vh;
    display: inline-block;
    width:100%;
    text-align: right;
    color:purple;
    text-decoration:underline;
    margin-bottom: 20px;
}

a{
        color:purple;
    }


}
