
@media (orientation: portrait) {
    body {
        background-image: url("./images/background_headers/Final/CSPage_Portrait.svg");
    
        background-size: 100dvw 50dvw;
        background-repeat:no-repeat;
        background-position: top left;
        background-color: #FCF8DA;
        margin: 0;
        padding: 0;
        font-family: Verdana, 'Roboto Flex', Tahoma, sans-serif;
        font-variation-settings: "wdth" 130, "wght" 800;
        /*background-color: rgb(227, 164, 19);*/
        place-items: left;
    }


   
    #Software{
        text-decoration:none;
        left: 21dvw;
        top:4.5dvw;
        margin:0;
        color: #2b2b2b;
        position:absolute;
        font-size: 14dvw;
        letter-spacing:0dvw;
        text-align: right;
    }

    #Portfolio{
        text-decoration:none;
        left: 6dvw;
        top:24dvw;
        margin:0;
        color:#2b2b2b;
        position:absolute;
        font-size: 14dvw;
        letter-spacing:0dvw;
        text-align: right;
    }


    #Degree{
        position:absolute; 
        text-decoration:none;
        left: calc(65dvw);
        top:25dvw;
        color:#2b2b2b;
    
        font-size: 2.25dvw;
        
        text-align: right;
    }
    .grid{
        
        display: grid;
        grid-template-columns: 80dvw;
        gap: 25dvw 10dvw;
        margin-top:50dvw;
        margin-left:10dvw;
        place-items: center;
    }


    


    .project{
        display: grid;
        justify-items: center;
    }

    .project_img{  
        width: 50dvw;
        height:50dvw;
        margin-top:5dvw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2b2b2b;
        
        order:2;
        
    }

    img{
        display: block;
        height: 45dvw;
        border:1dvw solid #fcf8da   
    }

    .project_text{
        line-height: 5.3dvw;
        display: block;
        order:1;
        color: #2b2b2b;
    }

    .project_title{
        font-size: 5.3dvw;
        margin: 0;
        padding-bottom: 2dvw;
        color: #2b2b2b;
    }

    .project_date{
        color:#611800;
        font-size: 3.2dvw;
        margin:0;
    }
    .project_languages{
        color:#611800;
        font-size: 3.2dvw;
        margin: 0;
        padding-bottom: 2dvw;
    }

    .project_description{
        font-size: 3dvw;
        margin: 0;
        
    }

    .back{
        width:95%;
        font-size: 3.5dvw;
        display: block;
        text-align: right;
        color:#ca060a;
        text-decoration:underline;
        margin-top:20dvw;
        margin-bottom: 5dvw;
        margin-right:30dvw;
    }

    a{
        color:#c6080b;
    }

    hr{
        border-top:1.25dvw solid #2b2b2b;
    }

}

@media (orientation: landscape) {
    body{
         background-image: url("./images/background_headers/Final/CSPage_Landscape_left.svg");
        background-size: calc(16.5dvw - 10dvh) 45dvh;
        background-position: left top;
        @media screen and (max-height: 70.098dvw) {
            background-image: url("./images/background_headers/Final/CSPage_Landscape_left.svg"), 
            url(./images/background_headers/Final/CSPage_Landscape_right.svg);
            background-size: calc(16.5dvw - 10dvh) 45dvh, auto 45dvh;
            background-position: left top, calc(16.5dvw + 80dvh) top;
        }
        background-repeat:no-repeat;
        
        background-color: #FCF8DA;
        margin: 0;
        padding: 0;
        font-family: Verdana, 'Roboto Flex', Tahoma, sans-serif;
        font-variation-settings: "wdth" 130, "wght" 800;
        /*background-color: rgb(227, 164, 19);*/
        place-items: left;
        color:#2b2b2b;
        
    }

   

    #Software{
        text-decoration:none;
        left: calc(16.5dvw - 10dvh);
        top:1.75dvh;
        margin:0;
        color: #2b2b2b;
        position:absolute;
        font-size: 16.5dvh;
        letter-spacing:0dvh;
        text-align: right;
    }

    #Portfolio{
        text-decoration:none;
        left: calc(16.5dvw - 10dvh);
        top:22dvh;
        margin:0;
        color:#2b2b2b;
        position:absolute;
        font-size: 16.5dvh;
        letter-spacing:0dvh;
        text-align: right;
    }

    #Degree{
        position:absolute; 

        -webkit-transform: rotate(5.25deg);
        -moz-transform: rotate(5.25deg);
        -o-transform: rotate(5.25deg);
        transform: rotate(5.25deg);

        text-decoration:none;
        left: calc(65dvh);
        top:25dvh;
        color:#fcf8da;
    
        font-size: 2.25dvh;
        
        text-align: right;
    }

    .grid{
        display: grid;
        grid-template-columns: 75dvw;
        gap: 15dvh;
         margin-top:53dvh;
        @media screen and (max-height: 70.098dvw) {
            grid-template-columns: 33dvw 50dvw;
            gap: 20dvh 10dvh;
            margin-top:50dvh;
         }
       
        margin-left: 10dvh;
        place-items: center;
    }

  

   .project{
    display: contents;
        @media screen and not (max-height: 70.098dvw) {
        display: grid;
        justify-items: center;
        }
   }

    .project_text{
        line-height: 4dvh;
        
        @media screen and not (max-height: 70.098dvw) {
            display: block;
            order:1;
            
        }
    }

    .project_img{  
        width: 40dvh;
        height:40dvh;
        margin-top:5dvh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2b2b2b;
        @media screen and not (max-height: 70.098dvw) {
            width: 50dvh;
            height:50dvh;
            margin-top:7dvh;
            order:2;
        }  
    }

    img{
        display: block;
        height: 35dvh;
        @media screen and not (max-height: 70.098dvw) {
             height: 45dvh;
         }
         
        border: 1dvh solid #fcf8da;  
   }

    .project_title{
        font-size: 4.0dvh;
        margin: 0;
        padding-bottom: 1dvh;
    }

    .project_date{
        font-size: 2.5dvh;
        color:#611800;
        margin:0;
    }
    .project_languages{
        font-size: 2.5dvh;
        color:#611800;
        margin: 0;
        padding-bottom: 1dvh;
    }

    .project_description{
        font-size: 2.25dvh;
        margin: 0;
        
    }

    .back{
        width:95%;
        font-size: 2.5dvh;
        display: block;
        text-align: right;
        color:#ca060a;
        text-decoration:underline;
        margin-top:10dvh;
        margin-bottom: 10dvh;
        margin-right:30dvh;
    }

    a{
        color:#c6080b;
    }

    hr{
        border-top:1dvh solid #2b2b2b;
    }
   
    
}