
 body{
        background-color: #FCF8DA;

        margin: 0;
        padding: 0;
        font-family: Verdana, 'Roboto Flex', Tahoma, sans-serif;
        font-variation-settings: "wdth" 130, "wght" 800;
        
        place-items: left;
        color:#2b2b2b; 
}

#Page{
    position:relative;
    min-height: 100svh;
}

#VisualArts{
    position:absolute;
    display:flex;
    align-items: center;

    text-decoration:none;
    text-align: left center;
    
    color: #FCF8DA;
}

#Home{
    position: absolute;
}

.closeImg{
    width:100%;
    height:100%;
}

#Tabs{
    position:relative; 
    display:flex;
    flex-wrap: wrap;
    
    text-decoration:none;
    
    color:#2b2b2b;  
}

.Label{
    cursor: pointer; 
    text-align: left;
    line-height: 1.5;
}

.tablinks{
    display: none;
}

.ArtGrid{
    order:1;
    width: 100%;

    line-height: 1.5;
    display: none;
}

.tablinks:checked+.Label{
    color:#c94144;
}

.tablinks:checked+.Label+.ArtGrid{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    gap: clamp(1rem, 3svw, 3rem);
}

.gridImg{  
    width: auto;
    height:auto;
    display: block;
}

.ArtPopUp{
    width: 100svw;
    height: 500svh;
    top:0;
    left:0;
    position: fixed;
    visibility: hidden;
    background: #2b2b2b;
}

.ArtPopUp:target{
    visibility: visible;
}

.HideDescription{
    position: fixed;
    left:93svw;
    top:2svw;
    width:2.5svw;
    height:2.5svw; 
}

.ArtDescription{
    position:relative;
    width: 85svw;
    background:#FCF8DA;
    left:5svw;
    height:500svh;
}





@media (aspect-ratio >=1.1) {
    body{  
        overflow-x: hidden;
        background-image: url("./images/background_headers/Final/ArtPage.svg");
        background-position: left top;
        background-repeat:no-repeat;
        background-size: auto 100svh;    
    }
    #VisualArts{
        width: 100svw;
        height:12svh;
        top:12svh;
        margin:0;
        margin-left:13.5svh;
        
        font-size: min(6.75svw, 9.75svh);
        letter-spacing:0svh;
        
    }

    #Home{
        left: calc(100svw - 11svh);
        top:0svh;
        top:3svh;
        width:5svh;
        height:5svh;
    }

    #bgSideBar{
        position:absolute;
        top:30svh;
        bottom: -25svh; 
        left: 8.12svh;
        background-color: #2b2b2b;
        width: 1.4svh;
        overflow: hidden;
        
    }

    #Tabs{  
        width: 80svw;

        left: 17svh;
        top:27svh;
        
        font-size: min(3svw,3svh); 
    }

    .Label{
        padding: 0;
        padding-right:5svh; 
        margin-bottom: 2svh;
    }

    .ArtGrid{
        margin-bottom:6svh;
    }

    .tablinks:checked+.Label{
        border-bottom: 1svh solid #c94144;
    }

    .gridImg{
        margin: 2svh;

        max-width: 60svw;
        max-height: 60svh;
        
        border: 1svh solid #2b2b2b;
    }

    .Title{
        position:relative;
        margin: 0;
        margin-left:5svw;
        margin-top:1svh;
        font-size: 4svh;
    }

    .Medium{
        position:relative;
        margin: 0;
        margin-left:5svw;
         margin-top:1svh;
        font-size: 3svh;
    }

    .Size{
        position:fixed;
        margin: 0;
        margin-left:5svw;
       margin-top:1svh;
        font-size: 3svh;
    }

    .popupImg{
        max-height: calc(75svh - 5svw);
        max-width: 72svw;
        width:auto;
        height:auto;
        margin-left:5svw;
        margin-top:5svw;
        border: solid 1.5svh #2b2b2b;
    }
}


@media (aspect-ratio < 1.1) {
    body{
        background-image: url("./images/background_headers/Final/ArtPage_Portrait.svg");
        background-position: left top;
        background-repeat:no-repeat;
        background-size: auto 30svw;
    }
 
    #VisualArts{
        width: 86svw;
        height:12svw;
        top:13.75svw;
        margin:0;
        margin-left:13.5svw;
       
        font-size: min(6.75svw, 9.75svh);
    }

    #Home{
        left: 90svw;
        top:3svw;
        width:5svw;
        height:5svw;
    }

    #bgSideBar{
        position:absolute;
        visibility: hidden;
    }
    
    #Tabs{  
        width: 90svw;

        left: 6svw;
        top:30svw;
        
        font-size: 2.75svw;   
    }

    .Label{
        padding: 0;
        padding-right:5svw;
        
        margin-bottom: 2svw;
    }

    label[for=Paintings]{
        margin-left:5svw;
    }

    .ArtGrid{
        margin-bottom:10svw;
    }

    .tablinks:checked+.Label{
        border-bottom: 1svw solid #c94144;
    }

    .gridImg{
        margin: 2svw;
        margin-left:0;

        max-width: 70svw;
        max-height: 60svh;

        border: 1.5svw solid #2b2b2b;   
    }

    .HideDescription{
        position: fixed;
        text-decoration: none;
        color:#FCF8DA;
        left:92svw;
        top:0;
        font-size: 5svw;
    }

    .ArtDescription{
        position:relative;
        width: 85svw;
        background:#FCF8DA;
        left:5svw;
        height:500svh;
    }

    .Title{
        position:relative;
        margin: 0;
        margin-left:2svw;
        margin-top:2svw;
        font-size: 4svw;
    }

    .Medium{
        position:relative;
        margin: 0;
        margin-left:2svw;
         margin-top:0.5svw;
        font-size: 3svw;
    }

    .Size{
        position:relative;
        margin: 0;
        margin-left:2svw;
       margin-top:0.5svw;
        font-size: 3svw;
    }

    .popupImg{
        max-height: 65svh;
        max-width: 77svw;
        width:auto;
        height:auto;
        margin-left:2svw;
        margin-top:5svw;
        border: solid 2svw #2b2b2b;
    }
}