@media (aspect-ratio>1.2) {
    body{
        height: 100svh;
        width:100svw;
        overflow-x: hidden;
        overflow-y:hidden;
        background-image: url("./images/background_headers/Final/Index_Landscape.svg");
        
        background-size: auto 100svh;
        background-repeat:no-repeat;
        background-position: center top;
        background-color: #FCF8DA
        ;
        margin: 0px;
        font-family: Verdana, sans-serif;
        /*background-color: rgb(227, 164, 19);*/
        place-items: right;
    }
    #luke{
        position:absolute;

        -webkit-transform: translate(-50%,-50%) rotate(45deg);
        -moz-transform: translate(-50%,-50%) rotate(45deg);
        -o-transform: translate(-50%,-50%) rotate(45deg);
        transform: translate(-50%,-50%) rotate(45deg);

        color: #2b2b2b;

        line-height: 17svh;
        letter-spacing: 1svh;
        left: calc(50svw + 36.5svh);
        top: 23.5svh;
        margin:0;
        font-size: 16svh;
    }
    #henry{  
        
        -webkit-transform: translate(-50%,-50%) rotate(45deg);
        -moz-transform: translate(-50%,-50%) rotate(45deg);
        -o-transform: translate(-50%,-50%) rotate(45deg);
        transform: translate(-50%,-50%) rotate(45deg);

        color: #2b2b2b;
        
        left: calc(50svw + 26.5svh);
        top:49svh;
        letter-spacing: 2svh;
        
        margin:0;
        position: absolute;

        font-size: 9.25svh;
        
        text-align: right;
    }

    #bio{
        
        position: absolute;
        left:calc(50svw - 58svh);
        top: 15svh;
       width:40svh;

      letter-spacing: 0.1svh;
       line-height: 110%;
        text-align: left;
        font-size: 2.5svh;
    }

    #cs_button{
        -webkit-transform: translate(-50%,-50%) rotate(-45deg);
        -moz-transform: translate(-50%,-50%) rotate(-45deg);
        -o-transform: translate(-50%,-50%) rotate(-45deg);
        transform: translate(-50%,-50%) rotate(-45deg);

        text-decoration:none;
        left: calc(50svw - 23.5svh);
        top:77.5svh;
        
        position:absolute;
        
        
        margin:0;
        font-size: 5.5svh;
        
        text-align: right;
    }

    #cs_button:visited,   
    #cs_button:active,
    #cs_button:link
    {
        color :#fcf8da;
        
    }

    #cs_button:hover,
    #cs_button:focus{
        color:#c94144;
    } 


    #art_button{
        -webkit-transform: translate(-50%,-50%) rotate(-45deg);
        -moz-transform: translate(-50%,-50%) rotate(-45deg);
        -o-transform: translate(-50%,-50%) rotate(-45deg);
        transform: translate(-50%,-50%) rotate(-45deg);

        text-decoration:none;
        left: calc(50svw - 10svh);
        top:88svh;
        
        position:absolute;
        
        
        margin:0;
        font-size: 5.5svh;
        
        text-align: right;
    }

    #art_button:visited,   
    #art_button:active,
    #art_button:link 
    {
        color :#fcf8da;
        
    }

    #art_button:hover,
    #art_button:focus{
        color:#ebd223;
    } 


    p{
    
        font-size:12pt;
        color: black;
        text-align: left;
        text-indent: 12pt;
    }

}

@media (aspect-ratio<=1.2) {
    body{
        height: 100svh;
        width:100svw;
        background-image: url("./images/background_headers/Final/Index_Portrait.svg");

        background-size: 100svw auto;
        background-repeat:no-repeat;
        background-position: left center;
        background-color: #FCF8DA
        ;
        margin: 0px;
        font-family: Verdana, sans-serif;
        /*background-color: rgb(227, 164, 19);*/
        place-items: right;
    }
    #luke{
        position:absolute;

       -webkit-transform: translate(-50%,-50%) rotate(45deg);
        -moz-transform: translate(-50%,-50%) rotate(45deg);
        -o-transform: translate(-50%,-50%) rotate(45deg);
        transform: translate(-50%,-50%) rotate(45deg);

        color: #2b2b2b;

        line-height: 13svw;
        letter-spacing: 0.75svw;
        left: 78.5svw;
        top:calc(50svh - 10.5svw);
        margin:0;
        font-size: 12svw;
    }
    #henry{  
        
        -webkit-transform: translate(-50%,-50%) rotate(45deg);
        -moz-transform: translate(-50%,-50%) rotate(45deg);
        -o-transform: translate(-50%,-50%) rotate(45deg);
        transform: translate(-50%,-50%) rotate(45deg);

        color: #2b2b2b;
        
        left: 71svw;
        top:calc(50svh + 10svw);

        letter-spacing: 1.8svw;
        
    
        position: absolute;

        font-size:  7svw;
        margin:0;
        text-align: right;
    }

     #bio{
        
        position: absolute;
        left:2svw;
        top: calc(50svh - 17svw);
       width:40svw;

      letter-spacing: 0.1svw;
       line-height: 110%;
        text-align: left;
        font-size: 2svw;
    }


    #cs_button{
        -webkit-transform: translate(-50%,-50%) rotate(-45deg);
        -moz-transform: translate(-50%,-50%) rotate(-45deg);
        -o-transform: translate(-50%,-50%) rotate(-45deg);
        transform: translate(-50%,-50%) rotate(-45deg);

        text-decoration:none;
        left: 30svw;
        top: calc(50svh + 33svw);
        
        position:absolute;
        
        

        font-size: 4.75svw;
        margin:0;
        text-align: right;
    }

    #cs_button:visited,   
    #cs_button:active,
    #cs_button:link
    {
        color :#fcf8da;
        
    }

    #cs_button:hover,
    #cs_button:focus{
        color:#c94144;
    } 


    #art_button{
        
        -webkit-transform: translate(-50%,-50%) rotate(-45deg);
        -moz-transform: translate(-50%,-50%) rotate(-45deg);
        -o-transform: translate(-50%,-50%) rotate(-45deg);
        transform: translate(-50%,-50%) rotate(-45deg);
        
        text-decoration:none;
        left: 40svw;
        top: calc(50svh + 41svw);
        
        position:absolute;
        
        font-size: 4.75svw;
        margin:0;
        text-align: right;
    }

    #art_button:visited,   
    #art_button:active,
    #art_button:link 
    {
        color :#fcf8da;
        
    }

    #art_button:hover,
    #art_button:focus{
        color:#ebd223;
    } 


    p{
    
        font-size:12pt;
        color: black;
        text-align: left;
        text-indent: 12pt;
    }

}




