@media (aspect-ratio >=1.1) {
    body{
     
        
        overflow-x: hidden;
        background-image: url("./images/background_headers/Final/ArtPage.svg");
        background-position: left top;
        background-repeat:no-repeat;
        background-size: auto 100lvh;
        background-color: #FCF8DA;

        margin: 0;
        padding: 0;
        font-family: Verdana, 'Roboto Flex', Tahoma, sans-serif;
        font-variation-settings: "wdth" 130, "wght" 800;
        /*background-color: rgb(227, 164, 19);*/
        place-items: left;
        color:#2b2b2b;
        
        
    }

    #Page{
        position:relative;
        
        min-height: 100vh;

    }

   


   

    #VisualArts{
        display:flex;
  align-items: center;
        text-decoration:none;
        text-align: left center;
        
        width: 100lvw;
        height:12lvh;
        top:12lvh;
        margin:0;
        margin-left:13.5lvh;
        color: #FCF8DA;
        position:absolute;
        font-size: min(6.75lvw, 9.75lvh);
        letter-spacing:0lvh;
        
    }

    #Home{
        position: absolute;
        left: calc(100lvw - 10lvh);
        top:0lvh;
        text-decoration: none;
        font-size: 8lvh;
        color:#c94144;

    }

    #bgSideBar{
        position:absolute;
        top:30lvh;
        bottom: -25lvh; 
        left: 8.12lvh;
       
        background-color: #2b2b2b;
        width: 1.4lvh;
        overflow: hidden;
        
    }

   
    
    #Tabs{
        display:flex;
        flex-wrap: wrap;
        width: 80lvw;

        position:relative; 
        text-decoration:none;
        left: 17lvh;
        top:27lvh;
        color:#2b2b2b;
        font-size: min(3lvw,3lvh);
        
        
    }

    .Label{
        padding: 0;
        padding-right:5lvh;
        cursor: pointer;
        margin-bottom: 2lvh;
        text-align: left;
         line-height: 1.5;
        
    }

    .tablinks{
        display: none;
    }

    .ArtGrid{
        order:1;
        width: 100%;
        margin-bottom:6lvh;
        /*border: 1.5lvh solid #2b2b2b;
       */
        line-height: 1.5;
        display: none;
    }

    .tablinks:checked+.Label{
        color:#c94144;
        border-bottom: 1lvh solid #c94144;

    }

     .tablinks:checked+.Label+.ArtGrid{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-evenly;
        gap: clamp(1rem, 3vw, 3rem);

        
    }

    .gridImg{
       
        margin: 2lvh;
        max-width: 60lvw;
        max-height: 60lvh;
        height: auto;
        width: auto;
        display: block;
        object-fit: contain;
        border: 1lvh solid #2b2b2b;
        
    }

    #inProgress{
        position: absolute;
        color:#c94144;
        width:40vw;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         -webkit-transform: translate(-50%,-50%) rotate(-20deg);
        -moz-transform: translate(-50%,-50%) rotate(-20deg);
        -o-transform: translate(-50%,-50%) rotate(-20deg);
        transform: translate(-50%,-50%) rotate(-20deg);
        top: calc(2*min(2lvw, 4.1lvh));
        font-size: min(2lvw, 4.1lvh);
        left: 95lvw;
        text-shadow: 0.2lvh 0.2lvh 0.1lvh #FCF8DA;
    }


    .ArtPopUp{
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        position: fixed;
        visibility: hidden;
        background: #2b2b2b;
    }

    .ArtPopUp:target{
        visibility: visible;
         background: #2b2b2b;
    }

    .HideDescription{
        position: fixed;
        text-decoration: none;
        color:#FCF8DA;
        left:92vw;
        top:0;
        font-size: 5vw;
    }

    .ArtDescription{
        position:relative;
        width: 85vw;
        background:#FCF8DA;
        left:5vw;
        height:100vh;
    }

    .Title{
        position:relative;
        margin: 0;
        margin-left:5vw;
        margin-top:1lvh;
        font-size: 4lvh;
    }

    .Medium{
        position:relative;
        margin: 0;
        margin-left:5vw;
         margin-top:1lvh;
        font-size: 3lvh;
    }

    .Size{
        position:fixed;
        margin: 0;
        margin-left:5vw;
       margin-top:1lvh;
        font-size: 3lvh;
    }

    .popupImg{
        max-height: calc(75lvh - 5lvw);
        max-width: 72lvw;
        width:auto;
        height:auto;
        margin-left:5lvw;
        margin-top:5lvw;
        border: solid 1.5lvh #2b2b2b;
    }
}


@media (aspect-ratio < 1.1) {
    body{
     
        
       
        background-image: url("./images/background_headers/Final/ArtPage_Portrait.svg");
        background-position: left top;
        background-repeat:no-repeat;
        background-size: auto 30lvw;
        background-color: #FCF8DA;

        margin: 0;
        padding: 0;
        font-family: Verdana, 'Roboto Flex', Tahoma, sans-serif;
        font-variation-settings: "wdth" 130, "wght" 800;
        /*background-color: rgb(227, 164, 19);*/
        place-items: left;
        color:#2b2b2b;
        
        
    }

    #Page{
        position:relative;
        
        min-height: 100vh;

    }

   


   

    #VisualArts{
        display:flex;
        align-items: center;
        text-decoration:none;
        text-align: left center;
        
        width: 86lvw;
        height:12lvw;
        top:13.75lvw;
        margin:0;
        margin-left:13.5lvw;
        color: #FCF8DA;
        position:absolute;
        font-size: min(6.75lvw, 9.75lvh);
        
        
    }

    #Home{
        position: absolute;
        left: 87lvw;
        top:-1lvw;
        text-decoration: none;
        font-size: 10lvw;
        color:#c94144;

    }

    #bgSideBar{
        position:absolute;
        visibility: hidden;
    }

   
    
    #Tabs{
        display:flex;
        flex-wrap: wrap;
        width: 90lvw;

        position:relative; 
        text-decoration:none;
        left: 6lvw;
        top:30lvw;
        color:#2b2b2b;
        font-size: 2.75lvw;
        
        
    }

    .Label{
        padding: 0;
        padding-right:5lvw;
        cursor: pointer;
        margin-bottom: 2lvw;
        text-align: left;
        line-height: 1.5;
        
    }

    label[for=Paintings]{
        margin-left:5lvw;
    }

    .tablinks{
        display: none;
    }

    .ArtGrid{
        order:1;
        width: 100%;
        margin-bottom:10lvw;
     
        line-height: 1.5;
        display: none;
    }

    .tablinks:checked+.Label{
        color:#c94144;
        border-bottom: 1lvw solid #c94144;

    }

     .tablinks:checked+.Label+.ArtGrid{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-evenly;
        gap: clamp(1rem, 3vw, 3rem);

        
    }

    .gridImg{
      
        margin: 2lvw;
        margin-left:0;
         max-width: 70lvw;
         max-height: 60lvh;
         width: auto;
         height:auto;
        display: block;
        border: 1.5lvw solid #2b2b2b;
        
    }


    .ArtPopUp{
        width: 100lvw;
        height: 100lvh;
        top:0;
        left:0;
        position: fixed;
        visibility: hidden;
        background: #2b2b2b;
    }

    .ArtPopUp:target{
        visibility: visible;
        
    }

    .HideDescription{
        position: fixed;
        text-decoration: none;
        color:#FCF8DA;
        left:92lvw;
        top:0;
        font-size: 5lvw;
    }

    .ArtDescription{
        position:relative;
        width: 85lvw;
        background:#FCF8DA;
        left:5lvw;
        height:100lvh;
    }

    .Title{
        position:relative;
        margin: 0;
        margin-left:2vw;
        margin-top:2lvw;
        font-size: 4lvw;
    }

    .Medium{
        position:relative;
        margin: 0;
        margin-left:2lvw;
         margin-top:0.5lvw;
        font-size: 3lvw;
    }

    .Size{
        position:relative;
        margin: 0;
        margin-left:2lvw;
       margin-top:0.5lvw;
        font-size: 3lvw;
    }

    .popupImg{
        max-height: 65lvh;
        max-width: 77lvw;
        width:auto;
        height:auto;
        margin-left:2lvw;
        margin-top:5lvw;
        border: solid 2lvw #2b2b2b;
    }
}