
@media screen and (orientation: portrait) {
    body {
        background-image: url("./images/background_headers/bg_cspage_header_draft_6.png");
        
        background-size: auto 85vw;
        background-repeat:no-repeat;
        background-position: top right;
        background-color: #FCF8DA;
        margin: 0;
        padding: 0;
        font-family: Verdana, sans-serif;
        /*background-color: rgb(227, 164, 19);*/
        place-items: left;
    }
}
@media screen and (orientation: landscape) {
    body{
        background-image: url("./images/background_headers/bg_cspage_header_draft_6.png");
        
        background-size: auto 85vh;
        background-repeat:no-repeat;
        background-position: top left;
        background-color: #FCF8DA;
        margin: 0;
        padding: 0;
        font-family: Verdana, sans-serif;
        /*background-color: rgb(227, 164, 19);*/
        place-items: left;
        
    }
}

#Computer{
    -webkit-transform: rotate(-31deg);
    -moz-transform: rotate(-31deg);
    -o-transform: rotate(-31deg);
    transform: rotate(-31deg);

    text-decoration:none;
    left: calc(16vh);
    top:2.5vh;
    color: #2b2b2b;
    position:absolute;
    font-size: 6vh;
    
    text-align: right;

}

#Science{
   
    -webkit-transform: rotate(-31deg);
    -moz-transform: rotate(-31deg);
    -o-transform: rotate(-31deg);
    transform: rotate(-31deg);

    text-decoration:none;
    left: calc(34vh);
    top:0vh;
    color: #2b2b2b;
    position:absolute;
    font-size: 6vh;
    
    text-align: right;
}

#Projects{
    -webkit-transform: rotate(5.25deg);
    -moz-transform: rotate(5.25deg);
    -o-transform: rotate(5.25deg);
    transform: rotate(5.25deg);

    text-decoration:none;
    left: calc(34vh);
    top:12.5vh;
    color:#fcf8da;
    position:absolute;
    font-size: 5.5vh;
    
    text-align: right;
}

#Degree{
    position:absolute; 

    -webkit-transform: rotate(5.25deg);
    -moz-transform: rotate(5.25deg);
    -o-transform: rotate(5.25deg);
    transform: rotate(5.25deg);

    text-decoration:none;
    left: calc(65vh);
    top:25vh;
    color:#2b2b2b;
  
    font-size: 2.25vh;
    
    text-align: right;
}
.grid{
    display: grid;
    grid-template-columns: 33vw 50vw;
    gap: 25vh 10vh;
    margin-top:55vh;
    place-items: center;
}

img{
    height: 40vh;
}

.project{
    line-height: 5vh;
}

.project_title{
    font-size: 4.5vh;
    margin: 0;
    padding-bottom: 1vh;
}

.project_date{
    font-size: 2.5vh;
    margin:0;
}
.project_languages{
    font-size: 2.5vh;
    margin: 0;
    padding-bottom: 1vh;
}

.project_description{
    font-size: 2.5vh;
    margin: 0;
    
}