
    body{
     
        
        overflow-x: hidden;
        background-image: url("./images/background_headers/Final/ArtPage.svg");
        background-position: left top;
        background-repeat:no-repeat;
        background-size: auto 100dvh;
        background-color: #FCF8DA;

        margin: 0;
        padding: 0;
        font-family: Verdana, 'Roboto Flex', Tahoma, sans-serif;
        font-variation-settings: "wdth" 130, "wght" 800;
        /*background-color: rgb(227, 164, 19);*/
        place-items: left;
        color:#2b2b2b;
        
        
    }

    #Page{
        position:relative;
        
        min-height: 100vh;

    }

   


   

    #VisualArts{
        display:flex;
  align-items: center;
        text-decoration:none;
        text-align: left center;
        
        width: 100dvw;
        height:12dvh;
        top:12dvh;
        margin:0;
        margin-left:13.5dvh;
        color: #FCF8DA;
        position:absolute;
        font-size: min(6.75dvw, 9.75dvh);
        letter-spacing:0dvh;
        
    }

    #Portfolio{
        text-decoration:none;
        left: calc(16.5dvw - 20dvh);
        top:25dvh;
        margin:0;
        color:#2b2b2b;
        position:absolute;
        font-size: 16.5dvh;
        letter-spacing:0dvh;
        text-align: right;
    }

    #bgSideBar{
        position:absolute;
        top:30dvh;
        bottom: -25dvh; 
        left: 8.12dvh;
       
        background-color: #2b2b2b;
        width: 1.4dvh;
        overflow: hidden;
        
    }

   
    
    #Tabs{
        display:flex;
        flex-wrap: wrap;
        width: 80dvw;

        position:relative; 
        text-decoration:none;
        left: 17dvh;
        top:27dvh;
        color:#2b2b2b;
        font-size: min(3dvw,3dvh);
        
        
    }

    .Label{
        padding: 0;
        padding-right:5dvh;
        cursor: pointer;
        margin-bottom: 2dvh;
        text-align: left;
        
    }

    .tablinks{
        display: none;
    }

    .ArtGrid{
        order:1;
        width: 100%;
        margin-bottom:6dvh;
        /*border: 1.5dvh solid #2b2b2b;
       */
        line-height: 1.5;
        display: none;
    }

    .tablinks:checked+.Label{
        color:#c94144;
        border-bottom: 1dvh solid #c94144;

    }

     .tablinks:checked+.Label+.ArtGrid{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-evenly;
        gap: clamp(1rem, 3vw, 3rem);

        
    }

    .gridImg{
       
        margin: 2dvh;
        height:60dvh;
        border: 1dvh solid #2b2b2b;
        
    }

    #inProgress{
        position: absolute;
        color:#c94144;
        width:40vw;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         -webkit-transform: translate(-50%,-50%) rotate(-20deg);
        -moz-transform: translate(-50%,-50%) rotate(-20deg);
        -o-transform: translate(-50%,-50%) rotate(-20deg);
        transform: translate(-50%,-50%) rotate(-20deg);
        top: calc(2*min(2dvw, 4.1dvh));
        font-size: min(2dvw, 4.1dvh);
        left: 95dvw;
        text-shadow: 0.2dvh 0.2dvh 0.1dvh #FCF8DA;
    }


    .ArtPopUp{
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        position: fixed;
        visibility: hidden;
        background: #2b2b2b;
    }

    .ArtPopUp:target{
        visibility: visible;
         background: #2b2b2b;
    }

    .HideDescription{
        position: fixed;
        text-decoration: none;
        color:#FCF8DA;
        left:92vw;
        top:0;
        font-size: 5vw;
    }

    .ArtDescription{
        position:relative;
        width: 85vw;
        background:#FCF8DA;
        left:5vw;
        height:100vh;
    }

    .Title{
        position:relative;
        margin: 0;
        margin-left:5vw;
        margin-top:1dvh;
        font-size: 4dvh;
    }

    .Medium{
        position:relative;
        margin: 0;
        margin-left:5vw;
         margin-top:1dvh;
        font-size: 3dvh;
    }

    .Size{
        position:fixed;
        margin: 0;
        margin-left:5vw;
       margin-top:1dvh;
        font-size: 3dvh;
    }

    .popupImg{
        height: 65dvh;
        margin-left:5vw;
        margin-top:5vh;
        border: solid 1.5dvh #2b2b2b;
    }