@media (aspect-ratio >=1.1) {
    body{
     
        
        overflow-x: hidden;
        background-image: url("./images/background_headers/Final/ArtPage.svg");
        background-position: left top;
        background-repeat:no-repeat;
        background-size: auto 100svh;
        background-color: #FCF8DA;

        margin: 0;
        padding: 0;
        font-family: Verdana, 'Roboto Flex', Tahoma, sans-serif;
        font-variation-settings: "wdth" 130, "wght" 800;
        /*background-color: rgb(227, 164, 19);*/
        place-items: left;
        color:#2b2b2b;
        
        
    }

    #Page{
        position:relative;
        
        min-height: 100vh;

    }

   


   

    #VisualArts{
        display:flex;
  align-items: center;
        text-decoration:none;
        text-align: left center;
        
        width: 100svw;
        height:12svh;
        top:12svh;
        margin:0;
        margin-left:13.5svh;
        color: #FCF8DA;
        position:absolute;
        font-size: min(6.75svw, 9.75svh);
        letter-spacing:0svh;
        
    }

    #Home{
        position: absolute;
        left: calc(100svw - 10svh);
        top:0svh;
        text-decoration: none;
        font-size: 8svh;
        color:#c94144;

    }

    #bgSideBar{
        position:absolute;
        top:30svh;
        bottom: -25svh; 
        left: 8.12svh;
       
        background-color: #2b2b2b;
        width: 1.4svh;
        overflow: hidden;
        
    }

   
    
    #Tabs{
        display:flex;
        flex-wrap: wrap;
        width: 80svw;

        position:relative; 
        text-decoration:none;
        left: 17svh;
        top:27svh;
        color:#2b2b2b;
        font-size: min(3svw,3svh);
        
        
    }

    .Label{
        padding: 0;
        padding-right:5svh;
        cursor: pointer;
        margin-bottom: 2svh;
        text-align: left;
         line-height: 1.5;
        
    }

    .tablinks{
        display: none;
    }

    .ArtGrid{
        order:1;
        width: 100%;
        margin-bottom:6svh;
        /*border: 1.5svh solid #2b2b2b;
       */
        line-height: 1.5;
        display: none;
    }

    .tablinks:checked+.Label{
        color:#c94144;
        border-bottom: 1svh solid #c94144;

    }

     .tablinks:checked+.Label+.ArtGrid{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-evenly;
        gap: clamp(1rem, 3vw, 3rem);

        
    }

    .gridImg{
       
        margin: 2svh;
        max-width: 60svw;
        max-height: 60svh;
        height: auto;
        width: auto;
        display: block;
        object-fit: contain;
        border: 1svh solid #2b2b2b;
        
    }

    #inProgress{
        position: absolute;
        color:#c94144;
        width:40vw;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         -webkit-transform: translate(-50%,-50%) rotate(-20deg);
        -moz-transform: translate(-50%,-50%) rotate(-20deg);
        -o-transform: translate(-50%,-50%) rotate(-20deg);
        transform: translate(-50%,-50%) rotate(-20deg);
        top: calc(2*min(2svw, 4.1svh));
        font-size: min(2svw, 4.1svh);
        left: 95svw;
        text-shadow: 0.2svh 0.2svh 0.1svh #FCF8DA;
    }


    .ArtPopUp{
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        position: fixed;
        visibility: hidden;
        background: #2b2b2b;
    }

    .ArtPopUp:target{
        visibility: visible;
         background: #2b2b2b;
    }

    .HideDescription{
        position: fixed;
        text-decoration: none;
        color:#FCF8DA;
        left:92vw;
        top:0;
        font-size: 5vw;
    }

    .ArtDescription{
        position:relative;
        width: 85vw;
        background:#FCF8DA;
        left:5vw;
        height:100vh;
    }

    .Title{
        position:relative;
        margin: 0;
        margin-left:5vw;
        margin-top:1svh;
        font-size: 4svh;
    }

    .Medium{
        position:relative;
        margin: 0;
        margin-left:5vw;
         margin-top:1svh;
        font-size: 3svh;
    }

    .Size{
        position:fixed;
        margin: 0;
        margin-left:5vw;
       margin-top:1svh;
        font-size: 3svh;
    }

    .popupImg{
        max-height: calc(75svh - 5svw);
        max-width: 72svw;
        width:auto;
        height:auto;
        margin-left:5svw;
        margin-top:5svw;
        border: solid 1.5svh #2b2b2b;
    }
}


@media (aspect-ratio < 1.1) {
    body{
     
        
       
        background-image: url("./images/background_headers/Final/ArtPage_Portrait.svg");
        background-position: left top;
        background-repeat:no-repeat;
        background-size: auto 30svw;
        background-color: #FCF8DA;

        margin: 0;
        padding: 0;
        font-family: Verdana, 'Roboto Flex', Tahoma, sans-serif;
        font-variation-settings: "wdth" 130, "wght" 800;
        /*background-color: rgb(227, 164, 19);*/
        place-items: left;
        color:#2b2b2b;
        
        
    }

    #Page{
        position:relative;
        
        min-height: 100vh;

    }

   


   

    #VisualArts{
        display:flex;
        align-items: center;
        text-decoration:none;
        text-align: left center;
        
        width: 86svw;
        height:12svw;
        top:13.75svw;
        margin:0;
        margin-left:13.5svw;
        color: #FCF8DA;
        position:absolute;
        font-size: min(6.75svw, 9.75svh);
        
        
    }

    #Home{
        position: absolute;
        left: 87svw;
        top:-1svw;
        text-decoration: none;
        font-size: 10svw;
        color:#c94144;

    }

    #bgSideBar{
        position:absolute;
        visibility: hidden;
    }

   
    
    #Tabs{
        display:flex;
        flex-wrap: wrap;
        width: 90svw;

        position:relative; 
        text-decoration:none;
        left: 6svw;
        top:30svw;
        color:#2b2b2b;
        font-size: 2.75svw;
        
        
    }

    .Label{
        padding: 0;
        padding-right:5svw;
        cursor: pointer;
        margin-bottom: 2svw;
        text-align: left;
        line-height: 1.5;
        
    }

    label[for=Paintings]{
        margin-left:5svw;
    }

    .tablinks{
        display: none;
    }

    .ArtGrid{
        order:1;
        width: 100%;
        margin-bottom:10svw;
     
        line-height: 1.5;
        display: none;
    }

    .tablinks:checked+.Label{
        color:#c94144;
        border-bottom: 1svw solid #c94144;

    }

     .tablinks:checked+.Label+.ArtGrid{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-evenly;
        gap: clamp(1rem, 3vw, 3rem);

        
    }

    .gridImg{
      
        margin: 2svw;
        margin-left:0;
         max-width: 70svw;
         max-height: 60svh;
         width: auto;
         height:auto;
        display: block;
        border: 1.5svw solid #2b2b2b;
        
    }


    .ArtPopUp{
        width: 100svw;
        height: 100svh;
        top:0;
        left:0;
        position: fixed;
        visibility: hidden;
        background: #2b2b2b;
    }

    .ArtPopUp:target{
        visibility: visible;
        
    }

    .HideDescription{
        position: fixed;
        text-decoration: none;
        color:#FCF8DA;
        left:92svw;
        top:0;
        font-size: 5svw;
    }

    .ArtDescription{
        position:relative;
        width: 85svw;
        background:#FCF8DA;
        left:5svw;
        height:100svh;
    }

    .Title{
        position:relative;
        margin: 0;
        margin-left:2vw;
        margin-top:2svw;
        font-size: 4svw;
    }

    .Medium{
        position:relative;
        margin: 0;
        margin-left:2svw;
         margin-top:0.5svw;
        font-size: 3svw;
    }

    .Size{
        position:relative;
        margin: 0;
        margin-left:2svw;
       margin-top:0.5svw;
        font-size: 3svw;
    }

    .popupImg{
        max-height: 65svh;
        max-width: 77lvw;
        width:auto;
        height:auto;
        margin-left:2svw;
        margin-top:5svw;
        border: solid 2svw #2b2b2b;
    }
}