@media screen and (orientation: landscape) {
    body{
        height: 100lvh;
        width:100lvw;
        overflow-x: hidden;
        overflow-y:hidden;
        background-image: url("./images/background_headers/Final/Index_Landscape.svg");
        
        background-size: auto 100lvh;
        background-repeat:no-repeat;
        background-position: center top;
        background-color: #FCF8DA
        ;
        margin: 0px;
        font-family: Verdana, sans-serif;
        /*background-color: rgb(227, 164, 19);*/
        place-items: right;
    }
    #luke{
        position:absolute;

        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);

        color: #2b2b2b;

        line-height: 17lvh;
        letter-spacing: 1lvh;
        margin-left: calc(50lvw + 24lvh);
        margin-top:6.6lvh;

        font-size: 16lvh;
    }
    #henry{  
        
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);

        color: #2b2b2b;
        
        margin-left: calc(50lvw + 3.5lvh);
        margin-top:43.5lvh;
        letter-spacing: 2lvh;
        
    
        position: absolute;

        font-size: 9.25lvh;
        
        text-align: right;
    }


    #cs_button{
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);

        text-decoration:none;
        margin-left: calc(50lvw - 39lvh);
        margin-top:74lvh;
        
        position:absolute;
        
        

        font-size: 5.5lvh;
        
        text-align: right;
    }

    #cs_button:visited,   
    #cs_button:active,
    #cs_button:link
    {
        color :#fcf8da;
        
    }

    #cs_button:hover,
    #cs_button:focus{
        color:#c94144;
    } 


    #art_button{
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);

        text-decoration:none;
        margin-left: calc(50lvw - 25lvh);
        margin-top:85lvh;
        
        position:absolute;
        
        

        font-size: 5.5lvh;
        
        text-align: right;
    }

    #art_button:visited,   
    #art_button:active,
    #art_button:link 
    {
        color :#fcf8da;
        
    }

    #art_button:hover,
    #art_button:focus{
        color:#ebd223;
    } 


    p{
    
        font-size:12pt;
        color: black;
        text-align: left;
        text-indent: 12pt;
    }

}

@media screen and (orientation: portrait) {
    body{
        height: 100lvh;
        width:100lvw;
        background-image: url("./images/background_headers/Final/Index_Portrait.svg");

        background-size: 100lvw auto;
        background-repeat:no-repeat;
        background-position: center center;
        background-color: #FCF8DA
        ;
        margin: 0px;
        font-family: Verdana, sans-serif;
        /*background-color: rgb(227, 164, 19);*/
        place-items: right;
    }
    #luke{
        position:absolute;

        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);

        color: #2b2b2b;

        line-height: 13lvw;
        letter-spacing: 0.75lvw;
        margin-left: 68.75lvw;
        margin-top:calc(50lvh - 23.5lvw);

        font-size: 12lvw;
    }
    #henry{  
        
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);

        color: #2b2b2b;
        
        margin-left: 53lvw;
        margin-top:calc(50lvh + 5.5lvw);

        letter-spacing: 1.8lvw;
        
    
        position: absolute;

        font-size:  7lvw;
        
        text-align: right;
    }


    #cs_button{
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);

        text-decoration:none;
        margin-left: 18lvw;
        margin-top: calc(50lvh + 28lvw);
        
        position:absolute;
        
        

        font-size: 4.75lvw;
        
        text-align: right;
    }

    #cs_button:visited,   
    #cs_button:active,
    #cs_button:link
    {
        color :#fcf8da;
        
    }

    #cs_button:hover,
    #cs_button:focus{
        color:#c94144;
    } 


    #art_button{
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);

        text-decoration:none;
        margin-left: 30lvw;
        margin-top: calc(50lvh + 36lvw);
        
        position:absolute;
        
        font-size: 4.75lvw;
        
        text-align: right;
    }

    #art_button:visited,   
    #art_button:active,
    #art_button:link 
    {
        color :#fcf8da;
        
    }

    #art_button:hover,
    #art_button:focus{
        color:#ebd223;
    } 


    p{
    
        font-size:12pt;
        color: black;
        text-align: left;
        text-indent: 12pt;
    }

}




